<!-- Will have base html like nav bar -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To-Do List</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="base.css" /> {% block style %}{% endblock %}
</head>

<body>
    <nav id="nav">
        <ul>
            <li>
                <a href="/">To Do</a>
            </li>
            <li>
                <a href="/todos/done">Completed</a>
            </li>
        </ul>
    </nav>
    {% block content %}{% endblock %} {% block script %}{% endblock %}
</body>

</html>