{% extends "base.html" %} {% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="signin_up.css" />{% endblock %}{% block nav %}
<div class="box">
    <div class="title text-center">
        <h1>Gettin' it Done</h1>
    </div>
    {% endblock %} {% block content %}
    <form action "/" method="POST">
        <div class="form-group">
            <label for="InputEmail1">Email address</label>
            <input type="email" class="form-control" name="inputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="InputPassword-in">Password</label>
            <input type="password" class="form-control" name="inputPassword1" placeholder="Password" required>
        </div>
        <div class="submit">
            <div>
                <input type="checkbox">
                <label class="form-check-label " for="exampleCheck1 ">Remember me</label>
            </div>
            <input type="submit" class="btn btn-sm" value="Sign In">
        </div>

    </form>
    <div class="submit">
        Don't have an account?
        <form action="/signup" method=GET>
            <button type=submit class="btn btn-sm btn-primary">Sign up today!</button>
        </form>
    </div>
</div>
{% endblock %}