nav {
  display: flex;
  justify-content: center;
  max-width: 100%;
  border: 3px solid black;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav li {
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}