.title {
  font-family: 'Oleo Script', cursive;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-bottom: 20px;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  padding: 20px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: none;
  color: black;
}