.list {
    width: 400px;
}

.list-items {
    height: 500px;
    width: 80%;
    margin-top: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

li {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.float {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.item {
    display: flex;
    justify-content: flex-start;
    width: 40%;
    word-break: break-all;
}